.wrapper{
    display: flex;
    min-height: 100vh;
    margin-left: 30%;
    margin-right: 30%;
    background-image: linear-gradient(45deg, #ff6cff, #66b3ff, #ff6666);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

@media (max-width: 768px) {
    .wrapper {
        margin-left: 10%;
        margin-right: 10%;
    }
}
  
@media (max-width: 480px) {
    .wrapper {
        margin-left: 10%;
        margin-right: 10%;
    }
}