.galleryContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 1%;
    /* background: linear-gradient(90deg, #954495, #023466, #993e3e); */
    padding: 80px;
  }
  
  .artPieceContainer {
    position: relative;
    cursor: pointer;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 10px;
  }

.artImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 10px;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.artPieceContainer:hover .overlay {
    opacity: 1;
}

.overlayContent {
    text-align: center;
    color: white;
    padding: 20px;
}

.artPieceTitle {
    font-size: 20px;
    font-weight: bold;
}

.artPieceArtist {
    font-size: 16px;
}

.artPieceDescription {
    font-size: 14px;
}

@media (max-width: 768px) {
    .galleryContainer {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin-top: 3%;
    }
    
    .artPieceContainer {
      /* Adjust styles for smaller screens */
    }
    
    .artPieceTitle {
      font-size: 18px;
    }
    
    .artPieceArtist {
      font-size: 14px;
    }
    
    .artPieceDescription {
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .galleryContainer {
      grid-template-columns: repeat(1, 1fr);
      gap: 5px;
      margin-top: 2%;
    }
    
    .artPieceContainer {
      /* Further adjust styles for smallest screens */
    }
    
    .artPieceTitle {
      font-size: 16px;
    }
    
    .artPieceArtist {
      font-size: 12px;
    }
    
    .artPieceDescription {
      font-size: 10px;
    }
  }