.artist-container {
  text-align: center;
  padding: 20px;
  padding-top: 1%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile img {
  margin-bottom: 10px;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  border-radius: 50%;
}

.bio {
    margin-bottom: 20px;
}

.commissionButtonContainer {
  transition: all .2s ease-in-out; 
  transition: color 1s;
}

.commissionButtonContainer:hover {
  transform: scale(1.5);
  /* background-image: linear-gradient(45deg, #000000, #359aff, #ff7b7b); */
}

.commissionButton {
  display: inline;
  color: black;
  background-image: linear-gradient(45deg, #ff95ff, #359aff, #ff7b7b);
  border: 1px solid black;
  border-radius: 50px;
  text-decoration: none;
  transition: all .2s ease-in-out; 
  transition: color 1s;
}

.commissionButton:hover {
  color: black;
  text-decoration: none;
  transform: scale(1.1);
}

.page-break {
    margin: 40px 0;
    border: 0;
    height: 5px;
    background-image: linear-gradient(45deg, #954495, #023466, #993e3e);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.image-item {
    text-align: center;
}

.image-item img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .artist-container {
      padding: 10px;
      padding-top: 20%;
    }
  
    .profile img {
      width: 200px;
      height: 200px;
    }
  
    .bio {
      margin-bottom: 10px;
    }
  
    .image-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
}
  

@media (max-width: 480px) {
    .artist-container {
      padding: 5px;
      padding-top: 20%;
    }
  
    .profile img {
      width: 150px;
      height: 150px;
    }
  
    .page-break {
      margin: 20px 0;
    }
  
    .image-grid {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5px;
    }
}