form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

input,
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    transition: all .5s ease-in-out;
}

button:hover {
    background-color: rgb(0, 242, 255);
}

@media (max-width: 768px) {
    form {
      width: 250px;
    }
  
    label {
      margin-bottom: 3px;
    }
  
    input,
    textarea {
      padding: 8px;
      margin-bottom: 8px;
      border-radius: 4px;
    }
  
    button {
      width: 90px;
    }
}
  

@media (max-width: 480px) {
    form {
      width: 200px;
    }
  
    label {
      margin-bottom: 2px;
    }
  
    input,
    textarea {
      padding: 6px;
      margin-bottom: 6px;
      border-radius: 3px;
    }
  
    button {
      width: 80px;
    }
  }