.homeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.artistContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 400px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.artistName {
    position: absolute;
    top: 20px;
    left: 10%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 1.2rem;
    font-weight: bold;
}

.artistProfileImage {
    position: absolute;
    top: 17%;
    left: 2%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
}

.artistArtWork {
    width: 350px;
    height: 180px;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: cover;
    margin: 1px;
}

.artworkContainer {
    left: 29px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 25%;
    background-color: rgb(175, 175, 247);
}

.artistDescription {
    position: absolute;
    border: 1px solid black;
    width: 27.5%;
    height: 40%;
    left: .5%;
    top: 58%;
}
  
  