.backGround {
    background-repeat: cover;
    background-image: linear-gradient(200deg, #f8d0f8, #d8eafd, #ffc5c5);
}

.homeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.artistContainer {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 50%;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.artistName {
    position: absolute;
    top: 20px;
    left: 15%;
    transform: translateX(-50%);
    z-index: 2;
    font-size: 1.2rem;
    font-weight: bold;
}

.artistProfileImage {
    position: absolute;
    top: 17%;
    left: 8.5%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
}

.artworkContainer {
    left: 29px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 25%;
    border-radius: 10px;
}

.artistArtWork {
    width: 450px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: cover;
    margin: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
}

.artistArtWork:hover {
    transform: scale(1.1);
}


.artistDescription {
    text-align: center;
    position: absolute;
    width: 27.5%;
    height: 40%;
    left: .5%;
    top: 70%;
}

@media (max-width: 768px) {
    .artistContainer {
        width: 90%;
    }

    .artistProfileImage {
        width: 120px;
        height: 120px;
    }

    .artworkContainer {
        grid-template-columns: 1fr;
    }

    .artistArtWork {
        height: auto;
    }
}
@media (max-width: 500px) {
    .artistDescription {
        display: none;
    }
}

@media (max-width: 480px) {
    .artistName {
        display: inline-block;
        font-size: 1rem;
    }
    .artworkTitle {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .homeContainer {
        height: auto;
    }
    .artistDescription {
        display: none;
    }
    .artistProfileImage {
        left: 2%;
        top: 12%;
        width: 80px;
        height: 80px;
    }
}