.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  background-image: linear-gradient(45deg, #954495, #094d90, #993e3e);
}
.navbar {
  display: flex;
  align-items: center;
  left: 1%;
}
.navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 25px rgb(0, 0, 0);
  transition: 0.5s;
  margin-right: 30px;
}

.navbar li:hover {
  width: 180px;
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0);
}

.navbar li::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

.navbar li:hover::before {
  opacity: 1;
}

.navbar li::after {
  content: '';
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}

.navbar li:hover::after {
  opacity: 0.5;
}

.navbar li .icon {
  color: black;
  font-size: 1.75rem;
  transition: 0.5s;
  transition-delay: 0.25s;
  margin-bottom: 10px;
}

.navbar li:hover .icon {
  transform: scale(0);
  transition-delay: 0s;
}

.navbar li span {
  position: absolute;
}

.navbar li .title {
  color: rgb(0, 0, 0);
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.navbar li:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}

.visionary {
  color: white;
  position: absolute;
  left: 1%;
  font-size: 40px;
  text-shadow: 0 10px 25px rgb(0, 0, 0);
}

.visionaryLink:hover {
  color: white;
  text-decoration: none;
}
.loginButton {
  position: absolute;
  left: 90%;
  top: 1%;
}
.signupButton {
  position: absolute;
  left: 83%;
  top: 1%;
}
.logoutButton {
  position: absolute;
  left: 83%;
  top: .5%;
}
@media (max-width: 768px) {
  .navbarContainer {
    height: 15%;
  }

  .navbar {
    left: 0;
  }

  .navbar li {
    margin-right: 15px;
  }

  .navbar li .icon {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .navbar li .title {
    font-size: 0.9em;
  }

  .visionary {
    display: none;
  }
  /* .loginButton{
    display: none;
  }
  .signupButton{
    display: none;
  } */
  .logoutButton {
    top: 10%;
    left: 10%;
  }
}

@media (max-width: 768px) {
  .navbarContainer {
    height: 5%;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar li {
    margin-right: 1px;
  }

  .navbar li .icon {
    font-size: 1rem;
    margin-bottom: 1px;
  }

  .navbar li .title {
    font-size: 0.5em;
  }
}