.navbarContainer {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 70px;
  background-image: linear-gradient(45deg, #954495, #023466, #993e3e);
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.pop {
  color: white; 
  transition: all .2s ease-in-out; 
  transition: color 1s;
  text-decoration: none;
  position: relative;
  font-size: 25px;
}

.pop:hover { 
  transform: scale(1.1);
  color: rgb(0, 242, 255); 
  text-decoration: underline;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.title {
  color: white;
  position: absolute;
  left: -2%;
  font-size: 40px;
}

.titleLink:hover {
  color: white;
  text-decoration: none;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton button {
  margin-right: 150px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  display: flex;
  height: 60vh;
}
#open:hover {
  background-color: rgb(126, 31, 216);
  transition: 2s;
}
#open .links {
  margin: 10px;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 20px;
  
}

#open .links {
  max-height: 300px;
  animation: fade-in 7s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#open .links:hover {
color: #000000;
transition: 2s;
}

#collapsed {
  transition: 2.5s;
}

#open a {
  width: 75%;
  text-align: center;
}

@media only screen and (max-width: 900px) {
    .navbar a {
      display: flex;
    }
    .logoOverlay {
      display: none;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .toggleButton {
      display: flex;
    }
    #collapsed a {
      display: none;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .toggleButton {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 1000px;
    }
  
    #open .links {
      flex-direction: row;
    }
  }